.l-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.example-card {
  max-width: 40rem;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}