table {
  text-align: left;
  position: relative;
  border-collapse: separate;
  background-color: #f6f6f6;
  // width: 100vw;
  padding: 5rem;
}

td, th {
  border: 1px solid #999;
  padding: 20px;
}
th {
  background: brown;
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}
.primary{
  background-color: #000000
}

tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  // opacity: 0.9;
  background-color: #ffc107;
  // filter: brightness(0.1);
}
