* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 10px;
  background: #80008060;
  padding: 1rem;
}

button:hover {
  filter: brightness(2);
  cursor: pointer;
  transition: 0.1s linear;
}
